.button {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  background: none;
  outline: none;
  border: 0;
  border-radius: 8px;
  color: white;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }

  &[data-kind="primary"] {
    background-color: var(--primary);

    &:hover {
      background-color: var(--primary-hover);
    }
  }

  &[data-kind="secondary"] {
    background-color: var(--secondary);

    &:hover {
      background-color: var(--secondary-hover);
    }
  }

  .loader__item {
    background-color: white;
  }
}