html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
	color-border: #555;
  
}

/* glob */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

.text-reset {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.container {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

// header

.header__container {
	padding: 10px 0;
	border-bottom: 1px solid var(--color-border);
}

.nav {
  align-items: center;
}

.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000;
}
